<h2 class="head">Einloggen</h2>
<div id="list">
  <% form_tag session_path do -%>
  <p><%= label_tag 'login' %><br />
  <%= text_field_tag 'login', @login %></p>

  <p><%= label_tag 'password', 'Passwort' %><br/>
  <%= password_field_tag 'password', nil %></p>

  <p><%= label_tag 'remember_me', 'Angemeldet bleiben:' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %></p>

  <p><%= submit_tag 'Anmelden' %></p>
  <% end -%>
</div>