<table>
  <tr>
    <th class="right">#</th>
    <th>Firmenname</th>
    <th>Rechnungssumme</th>
    <th>Rechnungsdatum</th>
    <th>Pdf</th>
    <th>Doc</th>
  </tr>
  <%- for invoice in invoices -%>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="right"><%= link_to h(invoice.invoice_num), invoice %></td>
    <td class="right"><%= link_to invoice.customer.company_name, customer_url(invoice.customer) %></td>
    <td class="right"><%= number_to_currency_with_euro(invoice.sum) %></td>
    <td class="right"><%= l invoice.date, :format => :long %></td>
    <td><% if invoice.pdf%><%= link_to image_tag("acroread.png"), invoice.pdf.authenticated_s3_url %><% end %></td>
    <td><% if invoice.doc%><%= link_to image_tag("word.png"), invoice.doc.authenticated_s3_url %><% end %></td>
    <td><%= link_to 'Zeigen', invoice %></td>
    <td><%= link_to 'Bearbeiten', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Löschen', invoice, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
  </tr>
  <%- end -%>
  <tr>
    <td colspan="2"></td>
    <td class="right"><%= number_to_currency_with_euro invoices.sum(:sum) %></td>
    <td colspan="3"></td>
  </tr>
</table>