<h2 class="head">Rechnung: <%= h @invoice.invoice_num %></h2>
<div id="list">
	<p>
	<b>Rechnungsnummer:</b>
	<%= h @invoice.invoice_num %>
	</p>

	<p>
	<b>Rechnungsdatum:</b>
	<%= l @invoice.date, :format => :long %>
	</p>
	<p>
	<b>Kunde:</b>
	<%= link_to @invoice.customer.company_name, @invoice.customer %>
	</p>
	<p>
	<b>Rechnungssumme:</b>
	<%= number_to_currency_with_euro @invoice.sum %>
	</p>
	<p>
	<b>Rechnung-Pdf:</b>
	<% if @invoice.pdf %>
		<%= link_to(@invoice.pdf.filename, @invoice.pdf.authenticated_s3_url) %>
	<% else %>
		---
	<%end%>
	</p>
	<p>
	<b>Rechnung-Doc:</b>
	<% if @invoice.doc %>
		<%= link_to(@invoice.doc.filename, @invoice.doc.authenticated_s3_url) %>
	<% else %>
		---
	<%end%>
	</p>
	<%= link_to 'Bearbeiten', edit_invoice_path(@invoice) %> |
	<%= link_to 'Zurück', invoices_path %>
</div>
