<h2 class="head">Kundenliste</h2>
<div id="list">

  <table>
    <tr>
      <th>#</th>
      <th>Firmenname</th>
      <th>Kontaktname</th>
      <th>Email</th>
      <th>Telefonnummer</th>
      <th colspan="3"></th>
    </tr>

    <% for customer in @customers %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%=h customer.customer_num %></td>
      <td><%= link_to customer.company_name, customer %></td>
      <td><%=h customer.full_name %></td>
      <td><%= mail_to customer.email %></td>
      <td><%=h customer.tel_number %></td>
      <td><%= link_to 'Zeigen', customer %></td>
      <td><%= link_to 'Bearbeiten', edit_customer_path(customer) %></td>
      <td><%= link_to 'Löschen', customer, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
    </tr>
    <% end %>
  </table>
</div>
