<h2 class="head">Kontaktdaten</h2>
<div id="list">
  <p>
    <b>Kundennummer:</b>
    <%=h @customer.customer_num %>
  </p>

  <p>
    <b>Firmenname:</b>
    <%=h @customer.company_name %>
  </p>

  <p>
    <b>Staat:</b>
    <%=h @customer.state %>
  </p>

  <p>
    <b>Stadt:</b>
    <%=h @customer.city %>
  </p>

  <p>
    <b>Postleitzahl:</b>
    <%=h @customer.zipcode %>
  </p>

  <p>
    <b>Straße:</b>
    <%=h @customer.street %>
  </p>

  <p>
    <b>Telefonnummer:</b>
    <%=h @customer.tel_number %>
  </p>

  <p>
    <b>Email:</b>
    <%=h @customer.email %>
  </p>

  <p>
    <b>Web:</b>
    <%=h @customer.web %>
  </p>

  <p>
    <b>Kontaktname:</b>
    <%=h @customer.full_name %>
  </p>

  <%= link_to 'Bearbeiten', edit_customer_path(@customer) %> |
  <%= link_to 'Zurück', customers_path %>

  <br /><br />
  <%= render :partial => "invoices/invoices", :object => @customer.invoices %>
</div>
